/* Estilo básico para o componente ImageCarousel */
.ImageCarousel {
    width: 50%; 
    margin: auto;
    display: inline-block;
  }
  
  /* Estilo para as imagens dentro do carrossel */
  .ImageCarousel img {
    width: 100%;
    height: auto; 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para a barra de navegação (pontos) do carrossel */
  .slick-dots {
    text-align: center;
    margin-top: 10px; 
  }