.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: lightgray;
  padding: 20px;
  z-index: 1;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 15px;
}

li {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  a {
    width: 30%;
    height: auto;
    position: flex;
    padding: 10px;
  }

  li {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    width: 30%;
    height: auto;
    position: flex;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.icon-margin{
  margin-right: 8px;
}