
.divTexto h1 .redText {
  color: red;
}

.divTexto {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 30%;
  }
  
  .divTexto h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #CDCFDE;    
  }
  
  .divTexto p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #CDCFDE;
  }
  
  .divTexto h2 {
    background-color: #CDCFDE;
    font-size: 2em;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }